<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head.ejs') %>
<body>
    <%- include('./Partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nesciunt maxime hic, accusamus quam ea suscipit omnis expedita explicabo culpa aperiam tempora accusantium non impedit dolores sed dolorem natus corporis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem accusamus ullam quaerat explicabo sint. Veritatis id, nisi voluptatum quod quas quis sequi vel quae reprehenderit, sint tempore ratione ad!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem accusamus ullam quaerat explicabo sint. Veritatis id, nisi voluptatum quod quas quis sequi vel quae reprehenderit, sint tempore ratione ad!</p>
    </div>
    <%- include('./Partials/footer.ejs') %>
</body>
</html>